.logo 
  AI
  %br> 
  Gore
%img.img-fluid.sc2-logo{src: "game-logo-sc2.png"}
%ul.nav.flex-column.text-center.mt-4
  %li.nav-item
    %a.nav-link{:href => "./index.html"} 
      Overview 
      %i.fas.fa-angle-right

  %li.nav-item
    %a.nav-link{:href => "./project-proposal.html"} 
      Project Proposal 
      %i.fas.fa-angle-right

  %li.nav-item
    %a.nav-link{:href => "./a-star.html"} 
      A* Research
      %i.fas.fa-angle-right    

  %li.nav-item
    %a.nav-link{:href => "./influence-maps.html"} 
      Influence Maps Research 
      %i.fas.fa-angle-right    

  %li.nav-item
    %a.nav-link{:href => "./flocking.html"} 
      Flocking Research
      %i.fas.fa-angle-right          

.text-center.text-white.mt-5 Team
%ul.member-list
  %li.text-muted Kevin Boese, kmboese@ucdavis.edu
  %li.text-muted Dasha Semyonova, dsemyonova@ucdavis.edu
  %li.text-muted Christine Tech, cbtech@ucdavis.edu
  %li.text-muted Nathan Telles, ndtelles@ucdavis.edu