<!DOCTYPE html>
%html
  = Haml::Engine.new(File.read('./partials/head.haml')).render
  %body
    .container-fluid
      .row
        .col-3.sidebar
          = Haml::Engine.new(File.read('./partials/sidebar.haml')).render
        .col-9.content
          .container
            %h1 Welcome to the AI Gore StarCraft II project site!
            .embed-responsive.embed-responsive-16by9
              %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube-nocookie.com/embed/Sagg08DrO5U?rel=0", :width => "560"}
